body{
    font-family: 'Montserrat', sans-serif !important;
    padding-top: 130px !important;
    font-size: 10px !important;
}

/*---- side panel ----*/
    .sidePanel .col-md-3{
        position: absolute;
        display: block;
        left: 0;
        padding: 2% !important;
    }

    .tab-content .col-md-4{

    }

    .sidePanel .col-md-3 h3{
        text-align: left;
        margin: 0;
        padding-left: 4%;
        padding-bottom: 2%;
    }

    .sidePanel .col-md-3 p{
        text-align: left;
        margin: 0;
        padding-left: 4%;
        padding-bottom: 1%;
    }

    .subtitle{
        font-size: .8em;
    }

    .bodyPanel .col-md-9{
        position: absolute;
        right: 0;
        height: auto;
    }

    .col-md-9 img{
        width: 100%;
        height: auto;
    }

    .container {
       padding: 0;
       margin: 0;
    }

/*----masonry  home page ----*/
    .tab-content {
        padding-top: 3%;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-bottom: 3% !important;
    }

    .thumbnail {
        opacity: 1;
        /*background: black !important;*/
        margin-bottom: 0 !important;
        padding: 0 !important;
        border-radius: .5em !important;
        border: 0.25px dotted #337ab7 !important;
    }

    .thumbnail img{
        border-radius: .5em !important;
    }

    .thumbnailTitle {
        position: absolute;
        top: 0;
        padding: 2%;
        margin: 2%;
        border-radius: .5em;
    }

    h3.thumbnailTitle{
        color: #000;
        font-size: 1.1em;
        opacity: 0;
    }

    .thumbnail:hover img{
        opacity: 0.3;
    }

    .thumbnail:hover h3{
        margin-left: 1%;
        opacity: 1;
        font-size: 1.1em;
    }

    #scrollTopBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: #b2b2b2; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 7px 12px 7px 12px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
    }

    #scrollTopBtn:hover {
        background-color: #4f575b; /* Add a dark-grey background on hover */
    }

/*navbar styling on top*/
    .nav.navbar-nav {
        padding-left: 0 !important; /*for padding for the projects, about, contact */
    }

    ul.nav.navbar-nav {
        float: right !important;
    }

    .container .navbar-header, .collapse {
        padding: 0 0 0 1% !important;
        padding-top: 50px !important; /* pushes navbar down */
    }

    .navbar{
        background-color: #fff;
        margin-bottom: 0;
        border-bottom: 0 !important;
    }

    .navbar-inverse{
        background-color: #fff !important;
    }

    .navbar-fixed-top{
        position: absolute !important;
        padding: 0 !important;
    }
    /*FOR ACTIVE TAB ON TOP*/
    .navbar-inverse .navbar-nav>.active>a{
        text-transform: none;
        font-weight: 800;
        color: #9d9d9d !important;
        border-bottom: 1px solid;
        border-bottom-color: #9d9d9d !important;
        /*border-bottom: none !important;*/
        background-color: transparent !important;
    }

    .navbar-inverse .navbar-nav>li>a{
        color: rgba(39,52,52,.38) !important;
        padding-bottom: 5px !important;
        border-bottom-color: rgba(39,52,52,.18)  !important;
    }

    .navbar-inverse .navbar-brand{
        color: #000 !important;
    }

    .container{
        padding: 0;
        margin: auto;
        width: 100%;
        overflow: hidden;
    }

    .container .navbar-header {
        padding: 0.25% 0 0 1%;
        margin: auto;
    }

    .container .navbar-right {
        padding: 0.25% 1% 0 0;
        margin: auto;
    }
    .navbar-inverse .navbar-toggle .icon-bar{
        background-color: #5E5E5E !important;
    }

    .row p{
       margin-left: 7%;
       margin-right: auto;
    }

    .row h4{
       margin-left: 11%;
       margin-right: auto;
    }

    .row #indented{
       margin-left: 11%;
       margin-right: auto; 
    }

    .row img{
        margin-right: 0;
        margin-right: auto;
    }

    .row h3{
        margin-left: 2%;
        margin-right: auto;
    }

    /*Changing color for the button*/
    button.navbar-toggle{
        background:transparent;
        border-color:transparent;
        margin-bottom: 1%;
    }

    button.navbar-toggle span{
       background:#3c3c3c;
       opacity: 0.8;
    }

    /*modifies styling of navbar left */
    .navbar-brand {
        color: #33000d;
        font-weight: 400;
        font-size: 2.5em;  
    }

    a.navbar-brand:hover{
        font-weight: bold;
        border-bottom: .05em solid #33000d;
        color: #000;
    }

    /*modifies styling of navbar right */
        .navbar-right a{
            font-family: 'Amiko', sans-serif;   
            color: #3c3c3c;
            font-weight: 400;
            font-size: 1.1em;
            text-transform: uppercase;
        }

        .nav li a{
            margin-bottom: 0;
            margin-top:0;
        }

        .nav li a:hover{
            background-color: transparent;
            font-weight: bold;
            color: #000;
            border-bottom: .05em solid #33000d;
        }

    /* collapsed menu*/
        .navbar-nav {
            color: #000;
            text-align: center;
        }


/*General style*/

/*individual pages style*/
    p {
        font-family: 'Montserrat', sans-serif; 
        font-weight: 400;
        font-size: 1em;
        text-align: left;
        padding: 0 0 0 0; 
        color: #4d4d4d;
    }

/*styles text that spans page to full bleed*/
    .col-md-12 p{
        padding-right: 25%;
        text-align: left;
        height: auto;
    }

    /*sizes images*/
    .col-md-2 img{
        width: 100%;
        height: auto;
        padding: 0 0 0 0; 
    }
    .col-md-4 img{
        width: 100%;
        height: auto;
        padding: 0 0 0 0; 
    }
    .col-md-5 img{
        width: 82%;
        height: auto;
        padding: 0 0 0 0; 
    }
    .col-md-6 img{
        width: 100%;
        height: auto;
        padding: 0 0 0 0; 
    }
    .col-md-8 img{
        width: 100%;
        height: auto;
        padding: 0 0 0 0; 
    }

    .col-md-10 img{
        width: 100%;
        height: auto;
        padding: 0 0 0 0; 
    }
    .col-md-12 img{
        width: 100%;
        height: auto;
        padding: 0 0 0 0;
    }

    #homeimage img{
        padding: 0;
        margin: auto;
        width: 100%;
        overflow: hidden;
    }

    /*landing page style*/
    /*adds background to text*/
    .backgroundcliptext .index-link-styling a,p{
        background-color: transparent;
        font-weight: bold;
        color: #000;
    }

    .index-link-styling a:hover{
        background-color: transparent;
        font-weight: bold;
        color: #000;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: url(../img/background_text.png);
        text-decoration: none;
        border-image: url(../img/background_text.png) 25 30 10 20 repeat;
    }

/*styling for entire title page basically*/
    .title{
        padding: 20% 0 20% 1%; /* top|right|bottom|left */ 
        margin: auto;
        max-height: 100%;
        vertical-align: center;
    }

    h1 {
        font-weight: 200;
        color: #545454;
        font-size: 1.05em;
        text-align: left;
        line-height: 8%;
        padding-top: 1%;
    }

    h1#footer{
        font-size: .75em;
        color: #a9a9a9;
        font-weight: 100;
        bottom: .5em;
        position: absolute;
        text-transform: uppercase;
    }

    p.index-link-styling{
        font-weight: 800;
        font-size: 5em;
        text-align: left;
        line-height: 0.85em;
    }

    a#indexLinkSmall{
        font-weight: 500;
        font-size: 2em;
        text-align: left;
        line-height: 1.3em;
        color: #000;
        padding-top: 1%;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        color: #C3C0C0;
        bottom: 0%;
        margin-top: 1em;
    }


/* responsive styling for font size in landing page*/
    @media screen and (max-width: 1000px) {
        h1 {
            font-size: 8em;
        }

        p.index-link-styling{
            font-size: 4em;
        }
    }

    @media screen and (max-width: 815px) {
        h1 {
            font-size: 6em;
        }
        
        p.index-link-styling{
            font-size: 3em;
        }
    }

    @media screen and (max-width: 615px) {
        h1 {
            font-size: 4em;
        }
        
        p.index-link-styling{
            font-size: 2em;
        }
    }
