body{
    font-family: 'Montserrat', sans-serif !important;
    padding-top: 130px !important;
    font-size: 10px !important;
}

.footer p{
    position: relative;
    bottom: 0;
    padding: 5%;
    color: #A9A9A9;
    font-size: .8em;
}

/*----masonry  home page ----*/
    .tab-content {
        padding-top: 3%;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-bottom: 3% !important;
    }

    .thumbnail {
        opacity: 1;
        /*background: black !important;*/
        margin-bottom: 0 !important;
        padding: 0 !important;
        border-radius: .5em !important;
        border: 0.25px dotted #337ab7 !important;
    }

    .thumbnail img{
        border-radius: .5em !important;
    }


    .thumbnailTitle {
        position: absolute;
        top: 0;
        padding: 2%;
        margin: 2%;
        border-radius: .5em;
    }

    h3.thumbnailTitle{
        color: #000;
        font-size: 1.1em;
        opacity: 0;
    }

    .thumbnail:hover img{
        opacity: 0.3;
    }

    .thumbnail:hover h3{
        margin-left: 1%;
        opacity: 1;
        font-size: 1.1em;
    }

    #scrollTopBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: #b2b2b2; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 7px 12px 7px 12px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
    }

    #scrollTopBtn:hover {
        background-color: #4f575b; /* Add a dark-grey background on hover */
    }

/*navbar styling on top*/
    /*Changing color for the button*/
        button.navbar-toggle{
            background:transparent;
            margin-bottom: 1%;
        }

        button.navbar-toggle:hover{
            background-color: rgba(73,73,73,0.3) !important;
            margin-bottom: 1%;
        }

        button.navbar-toggle:focus{
            background-color: rgba(73,73,73,0.6) !important;
            margin-bottom: 1%;
        }

        /*for the lines in the middle*/
        button.navbar-toggle span{
           background:#ebebeb;
           opacity: 0.8;
        }

    /* collapsed menu*/
        .navbar-nav {
            color: #000;
            text-align: center;
        }

        .navbar-inverse .navbar-collapse {
            overflow: hidden;
            padding:0;
            padding-right: 40px;
            border: none !important;
        }

    /*modifies styling of navbar total */
        .navbar-brand {
            color: #33000d;
            font-weight: 400;
            font-size: 2.4em;  
            text-transform: uppercase;
        }
        a.navbar-brand:hover{
            font-weight: bold;
            border-bottom: .05em solid #33000d;
            color: #000;
        }
        a.navbar-brand{
            line-height: .9em;
        }
        span.subtitle{
            font-size: .55em;
            text-transform: none;
        }

        .nav.navbar-nav {
            padding-left: 0 !important; /*for padding for the projects, about, contact */
        }
        ul.nav.navbar-nav {
            float: right !important;
        }

        .container .navbar-header, .navbar-nav {
            padding: 0 0 0 1% !important;
            padding-top: 50px !important; /* pushes navbar down */
        }

        .navbar{
            background-color: #fff;
            margin-bottom: 0;
            border-bottom: 0 !important;
        }

        .navbar-inverse{
            background-color: #fff !important;
        }

        .navbar-fixed-top{
            position: absolute !important;
            padding: 0 !important;
        }
        /*FOR ACTIVE TAB ON TOP*/
        .navbar-inverse .navbar-nav>.active>a{
            text-transform: none;
            font-weight: 800;
            color: #9d9d9d !important;
            border-bottom: 1px solid;
            border-bottom-color: #9d9d9d !important;
            /*border-bottom: none !important;*/
            background-color: transparent !important;
        }

        .navbar-inverse .navbar-nav>li>a{
            color: rgba(39,52,52,.38) !important;
            padding-bottom: 5px !important;
            border-bottom-color: rgba(39,52,52,.18)  !important;
        }

        .navbar-inverse .navbar-header>a{
            color: rgba(39,52,52,.9) !important;
            padding-bottom: 5px !important;
            border-bottom: none !important;
        }

        .container{
            padding: 0;
            margin: auto;
            width: 100%;
            overflow: hidden;
        }

        .container .navbar-header {
            padding: 0.25% 0 0 1%;
            margin: auto;
        }

        .container .navbar-right {
            padding: 0.25% 1% 0 0;
            margin: auto;
        }

    /*modifies styling of navbar right */
        .navbar-right a{
            color: #3c3c3c;
            font-weight: 400;
            font-size: 1.1em;
            text-transform: uppercase;
        }

        .navbar-inverse .navbar-toggle .icon-bar{
            background-color: #5E5E5E !important;
        }

        .nav li a{
            margin-bottom: 0;
            margin-top:0;
        }

        .nav li a:hover{
            background-color: transparent;
            font-weight: bold;
            color: #000;
            border-bottom: .05em solid #33000d;
        }

/*------project pages------*/
/*---- side panel ----*/
    .sidePanel .col-md-3{
        position: absolute;
        display: block;
        left: 0;
        padding: 0 2% 2% 2% !important;
    }

    .sidePanel .col-md-3 h1{
        margin: 0;
        font-size: 1.1em;
        padding-left: 4%;
        padding-bottom: 2%;
        color: rgba(39,52,52,.8);
        float: left;   
    }

    .sidePanel .col-md-3 h2{
        margin: 0;
        font-size: 1.1em;
        padding-left: 4%;
        padding-bottom: 2%;
        color: rgba(0,0,0,1);
        float: left;
    }

    .sidePanel .col-md-3 p{
        margin: 0;
        padding-left: 4%;
        padding-bottom: 1%;
        color: rgba(39,52,52,.75);
        float: left;
    }

    .additionalInfo {
        font-size: .9em;
        color: rgba(39,52,52,.6) !important;
        float: left;
    }
/*-----body panel -----*/
    .bodyPanel .col-md-9{
        position: absolute;
        right: 0;
        height: auto;
    }

    .col-md-9 img{
        width: 100%;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .col-md-9 iframe{
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .col-md-9 #linkedImage p{
        opacity: 0;
    }

    .col-md-9 #linkedImage p:hover{
        opacity: 1;
        bottom: 0;
        color: #000;
        font-size: 1.1em;
        float: left !important;
        position: absolute;
    }

    .col-md-9 #linkedImage img:hover{
        opacity: 0.75;
    }

/*------About Page------*/
    .container .row .col-md-6 a, p{
        float: right;
        clear: both;
        margin-bottom: 0 !important;
    }
    span.highlightInfo{
        border-bottom: 0.5px dotted #337ab7;
        font-weight: 800;
        color: black;
    }

/* responsive styling for project and home pages*/
    /*medium screen*/
    @media screen and (max-width: 991px) {
        .sidePanel .col-md-3{
            position: relative;
        }
        .bodyPanel .col-md-9{
            position: relative;
        }
    }
    /*ipad*/
    @media screen and (max-width: 767px) {
        .container.main-container {
            display: table;
            clear: both;
        }
        .container.main-container:after{
            display: table;
            clear: both;
        }
        .container.main-container:before{
            display: table;
            clear: both;
        }
    }

    /*really big*/
    @media screen and (max-width: 1200px) {
        .col-md-9 iframe{
            width:1280px;
            height: 720px;
        }
    }
    @media screen and (max-width: 1200px) {
        .col-md-9 iframe{
            width:640px;
            height: 360px;
        }
    }
    @media screen and (max-width: 767px) {
        .col-md-9 iframe{
            width:560px;
            height:315px;
        }
    }
    /*iphone 6 plus*/
    @media screen and (max-width: 414px) {
        .col-md-9 iframe{
            width:400px;
            height:225px;
        }
    }
    /*iphone 6*/
    @media screen and (max-width: 375px) {
        .col-md-9 iframe{
            width:350px;
            height:197px;
        }
    }
    /*iphone 5*/
    @media screen and (max-width: 320px) {
        .col-md-9 iframe{
            width:300px;
            height:169px;
        }
    }